<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398410125608-2mhn4r6g9u9c0ibpbogroq7ao16im27b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398410125608-2mhn4r6g9u9c0ibpbogroq7ao16im27b</string>
	<key>API_KEY</key>
	<string>AIzaSyCgQCMFASV4mutBzMJLDTT48gezdXztpPY</string>
	<key>GCM_SENDER_ID</key>
	<string>398410125608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softwise.mechatronics.choresApp</string>
	<key>PROJECT_ID</key>
	<string>choresapp-cdc21</string>
	<key>STORAGE_BUCKET</key>
	<string>choresapp-cdc21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398410125608:ios:fef22e2d6dc7b071be401d</string>
</dict>
</plist>